
@import url(./helpers.css);


body{
    position: relative;
    text-align: center;
    background-color: #ecf0f1;
}
  
/* HEADER */
header{
  position: sticky;
  display: flex;
  margin: 0;
  align-items: center;
  background: linear-gradient(45deg, #67b26f, #4ca2cd);
  color: white;
  width: 100%;
  justify-content: space-between;
}

header logo{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  /* margin-inline-end: 0; */
}

header logo::after{
  content: '.';
  color: greenyellow;
}

header a{
  color: white;
  font-size: 20px;
  padding: 10px;
}



/* EDITOR */
.editor-container{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    gap: 20px;
}

canvas{
    position: relative;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
}

.btns-container{
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  /* background-color: rgba(0, 255, 255, 0.4); */
  border-radius: 30px;
  border: 2px solid gray;
}

.btn, .lines-btns button, .text-btns button{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.btn:hover, .lines-btns button:hover, .text-btns button:hover {
  background-color: rgba(0, 128, 255, 0.8); 
  transform: scale(1.1); 
}

.text-btns{
  align-self: center;
}

.text-btns button{
  width: max-content;
}

.font-input{
  width: 40px;
  border-radius: 10px;
}

.lines-btns{
  align-self: center;  
}

.add-btn{
  background-color: rgb(60, 255, 0)
}

.delete-btn{
  background-color: red;
}

.toggle-btn{
  background-color: rgb(0, 140, 255);
}

.text-box{
  height: max-content;
  height: 40px;
  width: 60%;
  justify-self: center;
  align-self: end;
  border-radius: 20px;
}

.editor-container{
  position: relative;
  margin: 20vh auto;
  padding: 20px;
  background: linear-gradient(45deg, #67b26f, #4ca2cd);
  border-radius: 8px;
}
  
.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  cursor: pointer;
}

.color-btn::content{
  font-family: "Font Awesome 5 Free";
  content: "\f55d";
}

.line-control button {
  color: black;
}

/* GALLERY */
.select-img-container{
  margin-top: 30px;
/* display: flex; */
}

img{
  height: 200px;
  width: 200px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 20px;
  border: 2px solid gray;
  cursor: pointer;
}

img:hover{
  transform: translateY(-10px);
}