
@media (max-width:760px) {
   
    .editor-container{
        position: relative;
        display: grid;
        margin: 5vh auto;
        width: 350px;
        gap: 10px;
        justify-content: center;
        border-radius: 8px;
    }

    .close-btn{
        position: absolute;
        top: -3%;
        right: -1%;
        border-radius: 8px;
        cursor: pointer;
      }

    
}

@media (min-width:760px) {
    
    .editor-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin: 20vh auto;
        padding: 20px;
        /* background:linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
        border: 1px solid gray;
        border-radius: 8px;
        width: 700px;
        gap: 20px;
    }

    .close-btn{
        position: absolute;
        top: -1%;
        right: -1%;
        border-radius: 8px;
        cursor: pointer;
      }
}