
@import url(./helpers.css);
@import url(./mq.css);

*{
  box-sizing: border-box
}

html{ 
  font-style: italic;
}

body{
    position: relative;
    text-align: center;
    /* background-color: #ecf0f1; */
}
  
/* HEADER */
header{
  display: flex;
  margin: 0;
  align-items: center;
  background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
}

header logo{
  font-size: 45px;
  font-weight: bold;
  /* margin-inline-end: 0; */
}

h3{
  color: #667eea;
  font-size: 30px;
}

header logo:after{
  content: '.';
  color: #764ba2;
  font-size: 45px;
}

header a{
  color: white;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.bars-toggle:hover{
  cursor: pointer;
}

/* EDITOR */

canvas{
    position: relative;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
}

.btns-container{
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 30px;
  border: 2px solid gray;
  height: 350px;
}

.btns-container button{
  background-color: #abbaff;
}

.line-control{
  margin-top: 5px;
}

.btn, .lines-btns button, .text-btns button{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.2s;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.btn:hover, .lines-btns button:hover, .text-btns button:hover {
  /* background-color: rgba(0, 128, 255, 0.8);  */
  transform: scale(1.2); 
}

.text-btns{
  align-self: center;
}

.text-btns button{
  width: max-content;
}

.text-changers{
  margin-top: 10px;
}

.font-input{
  width: 40px;
  border-radius: 10px;
}

.lines-btns{
  align-self: center;  
}

.text-box{
  height: max-content;
  height: 40px;
  width: 60%;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
}

.download-links{
  align-self: center;
}

.download-links a{
  color: white;
  font-size: 12px;
  margin-right: 3px;
}

.download-links button{
  border: none;
  background: none;
  color: white;
}

.download-links button:hover{
  cursor: pointer;
}

.emoji-slider {
  display: flex;
  align-items: center;
  justify-self: center;
}

.emoji-window {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 130px; 
  height: 40px;
}

.emoji-list {
  display: flex;
  transition: all 0.3s;
}

.emoji-list span {
  font-size: 30px;
  width: 40px;
  text-align: center;
}

.arrow {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #eee;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #ddd;
}

.emoji-list span:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.4s;
}

/* GALLERY */
.select-img-container{
  width: 70vw;
  justify-self: center;
   margin-top: 30px;
}

.gallery-container{
  display: grid;
  grid-auto-flow: dense;
}

.datalist{
  margin-bottom: 20px;
}
img{
  height: 200px;
  width: 200px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 20px;
  border: 2px solid gray;
  cursor: pointer;
}

img:hover{
  transform: translateY(-10px);
}

.keywords{
  margin-bottom: 10px;
}

.keywords:hover{
  cursor: pointer;
}

/* SAVED-MEMES */
.saved-memes-container{
  margin-top: 20px;
  background-color: #ffffff;
}

.saved-img{
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
}

.saved-img button{
  width:50px;
  border-radius: 10px;
  align-self: center;
  margin-top: 5px;
}

.saved-img button:hover{
  background-color: #abbaff;
  transform: scale(1.1);
  transition: transform 0.4s;
}

.saved-imgs-container{
  display: flex;
  justify-content: center;
}



